@model List<EnvanterUygulaması.ViewModels.YazilimVM>

<div class="mt-5 align-items-center">
    <h3 class="text-center">Eklediğim Yazılımlar</h3>
    <a href="#" class="link-underline-primary float-end">Filtrele</a>
</div>

<button id="redirectButton" class="btn btn-primary" href="/Yazilim/YazilimEkle@0">Yazılım Ekle</button>
<script>
    document.getElementById("redirectButton").addEventListener("click", function () {
        window.location.href = "/Yazilim/YazilimEkle";
    });
</script>

<div class="mt-2 card table-responsive">
    <table class="table table-bordered table-striped" id="yazilimTablo">
        <thead>
            <tr class="text-center">
                <th>İşlem</th>
                <th>Markası</th>
                <th>Adı</th>
                <th>Versiyonu</th>
                <th>Türü</th>
                <th>Cihaz Sayısı</th>
                <th>Alım Tarihi</th>
                <th>Destek Süresi</th>
                <th>Açıklama</th>
                <th>Ekleyen Kullanıcı</th>
                <th>Bölge</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-primary" style="height: 35px; width: 85px;" href="/yazilim/yazilimekle/@item.id">Düzenle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="height: 35px; width: 85px;" href="/yazilim/yazilimkaldir/@item.id">Kaldır</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>@item.Markasi</td>
                    <td>@item.Adi</td>
                    <td>@item.Versiyonu</td>
                    <td>@item.Turu</td>
                    <td>@item.CihazSayisi</td>
                    <td>@item.AlimTarihi</td>
                    <td>@item.DestekSuresi ay</td>
                    <td>@item.Aciklama</td>
                    <td>@item.EkleyenKullanici</td>
                    <td>@item.Bolge</td>
                </tr>
            }
        </tbody>
    </table>
      </div>

<script>
    $(document).ready(function () {
        $('#yazilimTablo').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            }
        });
    });
</script>