@model List<EnvanterUygulaması.ViewModels.DevreVM>

<div class="mt-5 align-items-center">
    <h3 class="text-center">Eklediğim Devreler</h3>
    @* <a href="#" class="link-underline-primary float-end">Filtrele</a> *@
</div>

<button id="redirectButton" class="btn btn-primary" href="/Devre/DevreEkle">Devre Ekle</button>
<script>
    document.getElementById("redirectButton").addEventListener("click", function () {
        window.location.href = "/Devre/DevreEkle";
    });
</script>

<div class="mt-2 card table-responsive">

    <table class="table table-bordered table-striped" id="devreTablo">
          <thead>
            <tr class="text-center">
              <th>İşlem</th>
              <th>Adı</th>
              <th>No</th>
              <th>Bulut Adı</th>
              <th>Bölge</th>
              <th>İp Bloğu</th>
              <th>Durumu</th>
              <th>Koordinatı</th>
              <th>Mahsup</th>
              <th>Açıklama</th>
              <th>Ekleyen Kullanıcı</th>
            </tr>
          </thead>
         <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-primary" style="height: 35px; width: 85px;" href="/devre/devreekle/@item.id">Düzenle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="height: 35px; width: 85px;" href="/devre/devrekaldir/@item.id">Kaldır</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>@item.Adi</td>
                    <td>@item.Nosu</td>
                    <td>@item.BulutAdi</td>
                    <td>@item.Bolge</td>
                    <td>@item.IpBlogu </td>
                    <td>@item.Durumu</td>
                    <td>@item.Koordinati</td>
                    <td>@item.Mahsup</td>
                    <td>@item.Aciklama</td>
                    <td>@item.EkleyenKullanici</td>
                </tr>
            }
         </tbody>
        </table>
      </div>

<script>
    // require('datatables.net-plugins/sorting/turkish-string.js');
    $(document).ready(function () {

        jQuery.fn.DataTable.ext.type.search.string = function (sVal) {
            var letters = { "İ": "i", "I": "ı", "i": "İ", "ı": "I" };
            return sVal.replace(/(([İI]))/g, function (letter) { return letters[letter]; });
        };

        $('#devreTablo').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            },
            // searching: false, // Genel arama kutusunu devre dışı bırak
            // bFilter: false, // Genel arama kutusunu devre dışı bırak
            columns: [
                null, 
                null, 
                null, 
                null, 
                null, 
                null, 
                null, 
                null, 
                null, 
                null, 
                null  
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var headerText = $(column.header()).text().trim();
                    var input = document.createElement("input");
                    input.setAttribute("type", "text");
                    input.setAttribute("placeholder", headerText);

                    $(input).appendTo($(column.header()).empty())
                        .on('keyup change', function () {
                            column.search($(this).val()).draw();
                        });
                });
            }
        });
    });
</script>