@model List<EnvanterUygulaması.ViewModels.DevreVM>

<div class="mt-5 align-items-center">
    <h3 class="text-center">Eklediğim Devreler</h3>
    <a href="#" class="link-underline-primary float-end">Filtrele</a>
</div>

<button id="redirectButton" class="btn btn-primary" href="/Devre/DevreEkle">Devre Ekle</button>
<script>
    document.getElementById("redirectButton").addEventListener("click", function () {
        window.location.href = "/Devre/DevreEkle";
    });
</script>

<div class="mt-2 card table-responsive">

    <table class="table table-bordered table-striped" id="devreTablo">
          <thead>
            <tr class="text-center">
              <th>İşlem</th>
              <th>Adı</th>
              <th>No</th>
              <th>Bulut Adı</th>
              <th>Bölge</th>
              <th>İp Bloğu</th>
              <th>Durumu</th>
              <th>Koordinatı</th>
              <th>Mahsup</th>
              <th>Açıklama</th>
              <th>Ekleyen Kullanıcı</th>
            </tr>
          </thead>
         <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-primary" style="height: 35px; width: 85px;" href="/devre/devreekle/@item.id">Düzenle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="height: 35px; width: 85px;" href="/devre/devrekaldir/@item.id">Kaldır</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>@item.Adi</td>
                    <td>@item.Nosu</td>
                    <td>@item.BulutAdi</td>
                    <td>@item.Bolge</td>
                    <td>@item.IpBlogu </td>
                    <td>@item.Durumu</td>
                    <td>@item.Koordinati</td>
                    <td>@item.Mahsup</td>
                    <td>@item.Aciklama</td>
                    <td>@item.EkleyenKullanici</td>
                </tr>
            }
         </tbody>
        </table>
      </div>

<script>
    $(document).ready(function () {
        $('#devreTablo').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            }
        });
    });
</script>