@model List<EnvanterUygulaması.ViewModels.YazilimWM>

<div class="mt-5">
    <h3 class="text-center">Yazılım Listesi</h3>
        <div class="input-group mt-3 mb-3">
            <input type="text" class="form-control" placeholder="Arama" aria-label="search" aria-describedby="basic-addon1">
          </div>
        <button class="btn btn-primary float-end">Detaylı Arama</button>
      </div>
      <br />
<div class="mt-5 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Markası</th>
              <th>Adı</th>
              <th>Versiyonu</th>
              <th>Tür</th>
              <th>Cihaz Sayısı</th>
              <th>Alım Tarihi</th>
              <th>Destek Süresi</th>
              <th>Açıklama</th>
            </tr>
          </thead>
          <tbody>
           @foreach (var item in Model)
            {
                <tr>
                   <td>@item.Markasi</td>
                   <td>@item.Adi</td>
                   <td>@item.Versiyonu</td>
                   <td>@item.Turu</td>
                   <td>@item.CihazSayisi</td>
                   <td>@item.AlimTarihi</td>
                   <td>@item.DestekSuresi</td>
                   <td>@item.Aciklama</td>
                   <td>@item.EkleyenKullanici</td>
                </tr>
            }
        </tbody>
        </table>
      </div>