@model EnvanterUygulaması.ViewModels.DonanimPanelVM

<div class="mt-5 align-items-center">
    <h3 class="text-center">Donanım Üst Model Listesi</h3>
</div>

<div class="row">
    <div class="col-6">
        <label class="form-label">Ad</label>
        <input type="text" name="@Model.Adi" id="ad" class="form-control" />
        <label id="mesaj"></label>
        <input type="hidden" name="@Model.id" id="id" value="0" />
        <input type="hidden" name="guncelleSatirIndeks" id="guncelleSatirIndeks" value="0" />
    </div>

    <div class="col-6">
        <label asp-for="MarkaId" class="form-label"> Marka:</label>
        @Html.DropDownListFor(model => model.MarkaId, new SelectList(Model.MarkaList,"id","Adi"),"Donanım Markası Seçiniz",
        new{ @class="form-select", @id="markaDD"})
    </div>
</div>
<a class="btn btn-primary" href="#" id="yeniUstModel_btn">Yeni Üst Model Ekle</a>
<a style="display: none;" class="btn btn-success" href="#" id="vazgecUstModel_btn">Vazgeç </a>
<a style="display: none;" class="btn btn-success" href="#" id="kaydetUstModel_btn">Kaydet</a>

<div class="mt-2 card table-responsive">

    <table class="table table-striped" id="donanimUstModelTablo">
        <thead>
            <tr>
                <th>İşlem</th>
                <th>Ust Model Adı</th>
                <th>Markası</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ustModel in Model.UstModelList)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary  ustModelGuncelle" data-id="@ustModel.id" data-ad="@ustModel.Adi">Güncelle</a>
                    </td>
                    <td>@ustModel.Adi</td>
                    <td>@ustModel.MarkaAdi</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        const donanimUstModelTablo = $('#donanimUstModelTablo').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            }
        });

        $(function () {
            // var kullanici_tablo = $('#kullaniciTablo').DataTable();
            //const donanimMarkaTablo = new DataTable('#donanimMarkaTablo');

            $("#yeniUstModel_btn").click(function () {
                var ad = $("#ad").val();
                var markaId = $("#markaDD").val();
                var markaAdi = $("#markaDD option:selected").text();

                if (ad == null || ad == "") {
                    $("#mesaj").empty();
                    $("#mesaj").append("Ust Model adı giriniz");
                }
                else if (markaId == null || markaId == "") {
                    $("#mesaj").empty();
                    $("#mesaj").append("Donanım Markası seçiniz");

                }
                else {
                    var url = "/Donanim/DonanimUstModelEkleDuzenle";
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            id: 0,
                            adi: ad,
                            markaId: markaId,
                        },
                        success: function (data) {
                            if (data != null) {
                                var guncelleBtn = "<a class='btn btn-primary ustModelGuncelle' data-id='" + data.id + "' data-ad='" + data.adi + "' data-markaId='" + data.adi + "' >Güncelle</a>";
                                donanimUstModelTablo.row.add([guncelleBtn, data.adi, markaAdi]).draw(); // Tabloyu güncelle
                                alert("Kayıt eklendi");
                                $("#mesaj").empty();
                            }
                        }
                    })
                }
            });

            //dinamik oluşabilen dom elemanlarına .click erişemeyebilir
            //bu yüzden .on ile sabit dom elemanı üzerinden erişilir
            $("#donanimUstModelTablo").on("click", ".ustModelGuncelle", function () {
                var markaId = $(this).data("id");
                var markaAdi = $(this).data("ad");
                var indeks = donanimUstModelTablo.row($(this).parents('tr')).index();
                $("#guncelleSatirIndeks").val(indeks);
                $("#id").val(turId);
                $("#ad").val(turAdi);
                $("#yeniUstModel_btn").hide();
                $("#vazgecUstModel_btn").show();
                $("#kaydetUstModel_btn").show();
                $("#mesaj").empty();
            });

            $("#vazgecUstModel_btn").click(function () {
                AlturFormResetle();
            });

            $("#kaydetUstModel_btn").click(function () {
                var UstModelId = $("#id").val();
                var UstModelAd = $("#ad").val();

                if (UstModelAd == null || UstModelAd == "") {
                    $("#mesaj").empty();
                    $("#mesaj").append("Üst Model giriniz");
                }
                else if (markaId == null || markaId == "") {
                    $("#mesaj").empty();
                    $("#mesaj").append("Donanım Markası seçiniz");
                }
                else {
                    var url = "/Donanim/DonanimUstModelEkleDuzenle";
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            id: UstModelId,
                            adi: UstModelAd,
                            markaId: markaId
                        },
                        success: function (data) {

                            console.log(data.adi)
                            if (data != null) {
                                var guncelleBtn = "<a class='btn btn-primary ustModelGuncelle' data-id='" + data.id + "' data-ad='" + data.adi + "' >Güncelle</a>";
                                var yeniData = [guncelleBtn, data.adi]
                                var indeks = $("#guncelleSatirIndeks").val();

                                donanimUstModelTablo.row(indeks).data(yeniData).draw();
                                //donanimMarka_tablo.cell({ row: indeks, column: 1 }).data(data.ad).draw();
                                //donanimMarka_tablo.cell({ row: indeks, column: 0 }).data(guncelleBtn).draw();

                                alert("Kayıt güncellendi");
                                $("#mesaj").empty();
                            }
                        }
                    })

                    UstModelFormResetle();
                }

            });
        })

        function UstModelFormResetle() {
            $("#id").val("");
            $("#ad").val("");
            $("#yeniUstModel_btn").show();
            $("#vazgecUstModel_btn").hide();
            $("#kaydetUstModel_btn").hide();
        }
    });
</script>