@model List<EnvanterUygulaması.ViewModels.DonanimVM>

<div class="mt-5 align-items-center">
    <h3 class="text-center">Eklediğim Donanımlar</h3>
    
    <a href="#" class="link-underline-primary float-end">Filtrele</a>
</div>

<button id="redirectButton" class="btn btn-primary" href="/Donanim/DonanimEkle@0">Donanım Ekle</button>
<script>
    document.getElementById("redirectButton").addEventListener("click", function () {
        window.location.href = "/Donanim/DonanimEkle";
    });
</script>

<div class="mt-2 card table-responsive">
    <table class="table table-bordered table-striped" id="donanimTablo">
          <thead>
            <tr class="text-center">
              <th>İşlem</th>
              <th>Türü</th>
              <th>Alt Türü</th>
              <th>Markası</th>
              <th>Üst Modeli</th>
              <th>Alt Modeli</th>
              <th>MAC Adresi</th>
              <th>Seri No</th>
              <th>Durumu</th>
              <th>Garanti Süresi</th>
              <th>Alım Tarihi</th>
              <th>Poe</th>
              <th>Ekleyen Kullanıcı</th>
              <th>Açıklama</th>
              <th>Bölge</th>
            </tr>
          </thead>
         <tbody>
                     @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <a class="btn btn-primary" style="height: 35px; width: 85px;" href="/donanim/donanimekle/@item.id">Düzenle</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" style="height: 35px; width: 85px;" href="/donanim/donanimkaldir/@item.id">Kaldır</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>@item.Turu</td>
                        <td>@item.AltTuru</td>
                        <td>@item.Markasi</td>
                        <td>@item.UstModeli</td>
                        <td>@item.AltModeli</td>
                        <td>@item.MacAdresi</td>
                        <td>@item.SeriNo</td>
                        <td>@item.Durumu</td>
                        <td>@item.GarantiSuresi ay</td>
                        <td>@item.AlimTarihi</td>
                        @if (item.Poe==true)
                        {
                            <td>Var</td>
                        }
                        else if(item.Poe==false)
                        {
                        <td>Yok</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    <td>@item.EkleyenKullanici</td>
                        <td>@item.Aciklama</td>
                        <td>@item.Bolge</td>
                    </tr>
                    }
         </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#donanimTablo').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            }
        });
    });
</script>